@charset "UTF-8";

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 950px;
        height: 275px;
    }
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: left;
        width: 50%;
    }
    div.campo > input{
        height: 100%;
        width: 431px;
    }
    form > div.campo {
        margin: 5px;
        margin-left: -1px;
    }
}
